/* GENERAL */

html {
    font-family: 'Montserrat', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* GENERAL */

/* FIGHTERS */

.fighters {
    display: flex;
}

.fighter {
    border: 1px solid black;
    flex: 50%;
    height: 100px;
    margin: 10px 40px 10px 40px;
    padding: 10px;
    text-align: center;
}

.life-bar {
    height: 30px;
    border: 1px solid black;
    background-color: green;
    margin: 10px 0px 10px 0px;
}

.tyson-life {

}

/* FIGHTERS */

/* RESULT */

.result {

}

/* RESULT */

/* BUTTONS */

.buttons {
}

.button {
    border-radius: 25px;
}

#jab {
    background-color: blue;
    color: white;
}

#cross {
    background-color: orange;
}

#heal {
    background-color: green;
    color: white;
}

/* BUTTONS */

/* LOGS */

.logs {

}

/* LOGS */