/* GENERAL */

html {
    font-family: 'Montserrat', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* GENERAL */

/* FIGHTERS */

.fighters {
    display: flex;
}

.fighter {
    flex: 50%;
    height: 100px;
    margin: 10px 40px 10px 40px;
    padding: 10px;
    text-align: center;

    /* remove later*/
    border: 1px solid black;
}

.base-life-bar {
    height: 30px;
    border: 1px solid black;
    margin: 10px 0px 10px 0px;
}

.player-life-bar {
    background-color: green;
    height: 100%;
}

.tyson-life-bar {
    background-color: green;
    height: 100%;
}

/* FIGHTERS */

/* RESULT */

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.you-won {
    color: green;
    font-weight: bold;

    /* remove later*/
    border: 1px solid black;
}

.you-lost {
    color: red;
    font-weight: bold;
    
    /* remove later*/
    border: 1px solid black;
}

/* RESULT */

/* BUTTONS */

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    border-radius: 25px;
    margin: 0px 5px 0px 5px;
    height: 40px;
    width: 70px;
    font-weight: bold;
}

.new-match {
    background-color: rgb(111, 162, 255);
    color: white;
    width: 100px;
}

.jab {
    background-color: blue;
    color: white;
}

.cross {
    background-color: orange;
    color: white;
}

.heal {
    background-color: green;
    color: white;
}

.reset {
    background-color: rgba(116, 115, 115, 0.568);
    color: white;
}

/* BUTTONS */

/* LOGS */

.logs {
    display: flex;
    flex-direction: column;
}

.base-log {
    height: 25px;
    border-radius: 5px;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 5px;

    /* remove later*/
    border: 1px solid black;
}

.player-log {
    background-color: rgba(26, 85, 212, 0.671);
    color: white;
}

.tyson-log {
    background-color: rgba(228, 78, 52, 0.74);
    color: white;
}

/* LOGS */