<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas v.4</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(cor, i) in cores">{{ i + 1 }}) {{ cor }}</li>
        </ul>
        <hr>
        <template v-for="(cor, i) in cores">
            <h1>{{ cor }}</h1>
            <p>{{ i }}</p>
        </template>
        <hr>
        <ul>
            <li v-for="(pessoa, pessoaIndex) in pessoas">{{ pessoaIndex + 1 }})  
                <span v-for="(value, key, keyIndex) in pessoa">{{ key }} = {{ value }} [{{ keyIndex + 1 }}] </span>
            </li>
        </ul>
        <hr>
        <div v-for="n in 10">{{ n }}</div>
    </div>

    <style>
        ul {
            list-style: none;
        }

        h1,
        p {
            display: inline;
        }
    </style>

    <script>
        new Vue({
            el: "#app",
            data: {
                cores: ["vermelho", "verde", "amarelo", "azul"],
                pessoas: [
                    { nome: "Ana", idade: 26, peso: 59 },
                    { nome: "Guilherme", idade: 22, peso: 89 }
                ]
            }
        })
    </script>
</body>

</html>